.backgrop {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: relative;
    padding: 40px;
    width: 528px;
    min-height: 581px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backgrop.is-hidden .modal {
    transform: scale(0);
}

.close-btn {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: inherit;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.close-btn:hover {
    transform: scale(1.3);
    fill: var(--fokus-color);
}

.backgrop.is-hidden {
    opacity: 0;
    visibility: 0;
    pointer-events: none;
}


/*-----------------------MODAL INPUT----------------- */
.modal-form {
    display: block;
}

.modal-field {

    margin-bottom: 10px;
}

.input-wrapper {
    display: block;
    position: relative;
}

.modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: calc(23 / 20);
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
    margin-bottom: 12px;
}

.modal-label {

    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: #757575;
    margin-bottom: 4px;
}

.modal-input {

    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 40px;
    padding-right: 20px;
    outline: none;
}

.modal-input:focus {
    border-color: var(--fokus-color);
}

.modal-input:focus+.input-icon {
    fill: var(--fokus-color);
}

.modal-textarea {

    width: 100%;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    outline: none;
}

.modal-textarea:focus {
    border-color: var(--fokus-color);
}

.modal-textarea::placeholder {
    display: inline-block;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);

}

.btn-modal {
    display: block;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    cursor: pointer;
}

.input-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
}

.check-text {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: #757575;
    margin-bottom: 30px;
    display: inline-block;



}

.check-terms {
    color: var(--fokus-color);
}

/* .icon{
  display: inline-block;
  width: 16px;
  height: 16px;
  border-color: #212121;
  border-radius: 2px;
} */
.check-text span {
    display: inline-flex;
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 3px;
    margin-right: 6px;
    align-items: center;
    justify-content: center;

}


.modal-checkbox:checked+.check-text span {
    background-color: var(--fokus-color);
    border: none;
}

.modal-checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
}