.portfolio-nav {
    display: flex;
    justify-content: center;

    margin-top: 0;
    margin-bottom: 50px;

}

.prt-items {
    margin-right: 8px;

}

.prt-items:last-child {
    margin-right: 0;
}

.portfolio-nav .link {
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    padding: 6px 22px;

    border-radius: 4px;
    background-color: #F5F4FA;
    border: 1px transparent;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-nav .link:hover,
.portfolio-nav .link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-nav .link:hover,
.portfolio-nav .link:focus {
    color: var(--button-color-white);
    background-color: var(--fokus-color);

}